[submodule "doodoo"]
	path = doodoo
	url = https://github.com/owenroberts/doodoo
[submodule "lines"]
	path = lines
	url = https://github.com/owenroberts/lines
[submodule "hellmaps"]
	path = hellmaps
	url = https://github.com/owenroberts/hellmaps
[submodule "cool"]
	path = cool
	url = https://github.com/owenroberts/cool
[submodule "ui"]
	path = ui
	url = https://github.com/owenroberts/ui
